
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid"> 
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="template1">template1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template2">template2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template3">template3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template4">template4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template5">template5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template6">template6</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template7">template7</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template8">template8</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template9">template9</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template10">template10</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template11">template11</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template12">template12</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template13">template13</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template14">template14</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="template15">template15</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="template16">template16</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">  
  <div class="row">
      <div class="col-md-7 m-auto">
        <router-outlet></router-outlet> 
      </div>
  </div>
</div>


